# Environments
.venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configuration
.idea/
.vscode/

# Log files
*.log

# Databases
*.db
*.sqlite3

# Data files and outputs
/response_web
*.csv
*.html

# ML model files
*.pt
*.pth

# Auth & session data (sensitive)
auth/state.json

# Dataset images (large files, not needed in repo)
app/dataset/raw_images/
auth
*.jpg
*.jpeg
*.png