# Environments
.venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configuration
.idea/
.vscode/

# Log files
*.log

# Databases
*.db
*.sqlite3

# Data files and outputs
/response_web
*.csv
*.html

# ML model files
*.pt
*.pth

# Auth & session data (sensitive)
auth/state.json

# Dataset images (large files, not needed in repo)
app/dataset/
auth
*.jpg
*.jpeg
*.png

# Crawler utility & dev files (not for production repo)
app/crawler/captcha_solver.py
app/crawler/captcha_solver_async.py
app/crawler/crawl_images_captcha.py
app/crawler/products.py
app/crawler/reviews.py
app/crawler/reviews_async.py
app/crawler/test.py

# Jupyter Notebooks
*.ipynb